@page
@model EcommerceStudy.Pages.ContactModel
@{
}

<div class="row">
    <div class="col-lg-9 mx-auto p-3">
        <h3 class="mb-3 font-weight-normal text-center pb-4">Formulário de contato</h3>

        @if (Model.MensagemErro.Length > 0)
        {
            <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                <strong>@Model.MensagemErro</strong>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
        }
        else if (Model.MensagemSucesso.Length > 0)
        {
                <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                    <strong>@Model.MensagemSucesso</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                    </div>
        }

        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" asp-for="PrimeiroNome"></label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="PrimeiroNome"/>
                    <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" asp-for="UltimoNome"></label>
                <div class="col-sm-8">
                     <input class="form-control" asp-for="UltimoNome"/>
                    <span asp-validation-for="UltimoNome" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" asp-for="Email"></label>
                <div class="col-sm-8">
                     <input class="form-control" asp-for="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" asp-for="Telefone"></label>
                <div class="col-sm-8">
                     <input class="form-control" asp-for="Telefone"/>
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
            </div>
             <div class="row mb-3">
                <label class="col-sm-4 col-form-label" asp-for="Status"></label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Status" asp-items="Model.SubjectList">
                       
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
             <div class="row mb-3">
                <label class="col-sm-4 col-form-label" asp-for="Mensagem"></label>
                <div class="col-sm-8">
                    <textarea class="form-control"  asp-for="Mensagem"></textarea>
                    <span asp-validation-for="Mensagem" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="offset-sm-4" col-sm-8">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </form>
    </div>
</div>